list is zero index based

In [24]:
numbers=[1,2,3,4,5,6]
print(numbers)
print((len(numbers)))

print(numbers[1]) #accessing the list
print(numbers[-2])#accessing the list

#Slicing
my=numbers[1:4] #from 1 elements to 4 element
print(my)

my=numbers[:4]
print(my)

my=numbers[1:]
print(my)

numbers[3]=30 #updating a values by there index
print(numbers)

numbers.remove(30)
print(numbers)

[1, 2, 3, 4, 5, 6]
6
2
5
[2, 3, 4]
[1, 2, 3, 4]
[2, 3, 4, 5, 6]
[1, 2, 3, 30, 5, 6]
[1, 2, 3, 5, 6]

In [25]:
strings=["apple","students","laptop","samsung"]
print(strings)
print(len(strings))

print(strings[3]) #accessing the list
print(strings[-2])#accessing the list

#Slicing
words=strings[1:4] #from 1 elements to 4 element
print(words)

words=strings[:2]
print(words)

strings[2]="Smartwatch"
print(strings)

strings.remove("Smartwatch")
print(strings)

['apple', 'students', 'laptop', 'samsung']
4
samsung
laptop
['students', 'laptop', 'samsung']
['apple', 'students']
['apple', 'students', 'Smartwatch', 'samsung']
['apple', 'students', 'samsung']

In [ ]:
mixed=["apple",2,3.18,True]
print(mixed)
print(len(mixed))

['apple', 2, 3.18, True]
4